.button {
	padding: 1rem 1.2rem;
	background: var(--purple-200);
	color: var(--black-200);
	font-weight: 700;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	border-radius: 10px;
	transition: 0.3s background;
}

.button:hover,
.button:focus {
	background: var(--purple-300);
}
