.buttonModeContainer {
}

.buttonModeButton {
  padding: 0;
  cursor: pointer;
  border: 1px solid var(--primary-100);
  background-color: #fff;
  display: inline-block;
  width: 60px;
}

.buttonModeButton:first-child {
  border-radius: 20px 0 0 20px;
}

.buttonModeButton:nth-child(2) {
  border-radius: 0 20px 20px 0;
}

.buttonModeButton:focus:not(:focus-visible) {
  outline: none;
}

.buttonModeActive {
  background-color: #333;
}

@media (max-width: 480px) {
  .buttonModeButton {
    width: 50px;
  }
}
